<div class="media">
	<img src="/assets/teamplaner/images/user.png" class="align-self-center mr-3" style="width:60px">
	<div class="media-body">
		<h4>Vorname, Nachname</h4>
		<p>Torwart, 99</p>
	</div>
</div>
<hr>
<div class="media">
	<img src="/assets/teamplaner/images/user.png" class="align-self-center mr-3" style="width:60px">
	<div class="media-body">
		<h4>Vorname, Nachname</h4>
		<p>Verteidiger, 10</p>
	</div>
</div>
<hr>
<div class="media">
	<img src="/assets/teamplaner/images/user.png" class="align-self-center mr-3" style="width:60px">
	<div class="media-body">
		<h4>Vorname, Nachname</h4>
		<p>Center, 20</p>
	</div>
</div>
<hr>
<div class="media">
	<img src="/assets/teamplaner/images/user.png" class="align-self-center mr-3" style="width:60px">
	<div class="media-body">
		<h4>Vorname, Nachname</h4>
		<p>Flügel, 30</p>
	</div>
</div>
<hr>
<div class="media">
	<img src="/assets/teamplaner/images/user.png" class="align-self-center mr-3" style="width:60px">
	<div class="media-body">
		<h4>Vorname, Nachname</h4>
		<p>Top, 40</p>
	</div>
</div>
<hr>