<h3>{{ tabelle.titel }}</h3>
<table class="fixed-table table-striped" style="width: 100%; font-size: 9pt;">
    <thead>
        <tr>
            <th>Rg.</th>
            <th>Team</th>
            <th>Sp</th>
            <th>S</th>
            <th>SnV</th>
            <th>NnV</th>
            <th>N</th>
            <th>T</th>
            <th>TD</th>
            <th>P</th>
        </tr>
    </thead>
    <tbody>
{% for ranking in tabelle.rankings %}
        <tr>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][0]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][2]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][3]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][4]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][5]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][6]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][7]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][8]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][9]["text"][0] }}</td>
            <td class="cut-off" style="text-align: left;">{{ ranking['cells'][10]["text"][0] }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
