<!--<div class="col-6">
	<div class="card right">
		<div class="card-body">
			<center>
				Liveticker
				<table class="text-muted fixed-table">
					<tbody>
						<tr>
							<td class="cut-off" style="text-align: left; width: 45%;"><b>HCR</b></td>
							<td style="text-align: right;"><b>3</b></td>
						</tr>
						<tr>
							<td colspan="2" style="text-align: center; width: 10%;">vs</td>
						</tr>
						<tr>
							<td class="cut-off" style="text-align: left; width: 45%;">ZüriseeZüriseeZüriseeZüriseeZürisee</td>
							<td style="text-align: right;">1</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>-->
<div class="col-6">
	<div class="card right">
		<div class="card-body">
			<center>Liveticker<br>
			<p class="text-muted">Zur Zeit kein Spiel vorhanden</p></center>
		</div>
	</div>
</div>
