<div class="col-6">
	<div class="card right">
		<div class="card-body">
			<center>
				Präsenz
				<table class="text-muted" style="width: 100%;">
					<tbody>
						<tr>
							<td>Severin Schindler</td>
							<td style="text-align: right;">100%</td>
						</tr>
						<tr>
							<td>Joël Mesmer</td>
							<td style="text-align: right;">95%</td>
						</tr>
						<tr>
							<td>Andreas Christen</td>
							<td style="text-align: right;">90%</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>