<div class="col-6">
	<div class="card right">
		<div class="card-body">
			<center>
				Präsenz
				<!--<table class="text-muted" style="width: 100%; table-layout: fixed;">
					<tbody>
						<tr>
							<td class="cut-off" style="width: 80%;">Severin Schindlerdasgfagagagfgadfgadfg</td>
							<td style="text-align: right;">100%</td>
						</tr>
						<tr>
							<td class="cut-off">Joël Mesmer</td>
							<td style="text-align: right;">95%</td>
						</tr>
						<tr>
							<td class="cut-off">Andreas Christen</td>
							<td style="text-align: right;">90%</td>
						</tr>
					</tbody>
				</table>-->
				<br><i class="fas fa-tools"></i>
			</center>
		</div>
	</div>
</div>
