<div class="col-6">
	<div class="card right">
		<div class="card-body">
			<center>
				Präsenz
				<table class="text-muted" style="width: 100%; table-layout: fixed;">
					<tbody>
						{% for user in top_three %}
						{% set percent = (100 / (user.anwesend + user.abwesend + user.spaet)) * (user.anwesend + user.spaet) %}
						<tr>
							<td class="cut-off" style="width: 80%;">{{ user.vorname }} {{ user.nachname }}</td>
							<td style="text-align: right;">{{ percent|round(1) }}%</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>
