<div class="col-6">
	<div class="card left">
		<div class="card-body">
			<center>
				Tabelle
				<table class="text-muted" style="width: 100%; table-layout: fixed;">
					<tbody>
						<tr>
							<td style="text-align: left;">3</td>
							<td class="cut-off" style="text-align: left; width: 60%;">XYZ</td>
							<td style="text-align: left;">+3</td>
							<td style="text-align: right;">8</td>
						</tr>
						<tr>
							<td style="text-align: left;"><b>4</b></td>
							<td class="cut-off" style="text-align: left;"><b>HCR</b></td>
							<td style="text-align: left;"><b>+5</b></td>
							<td style="text-align: right;"><b>7</b></td>
						</tr>
						<tr>
							<td style="text-align: left;">5</td>
							<td class="cut-off" style="text-align: left;">XYsdfddafgsdfgsdfgsdfgsdfgsdsfasdfZ</td>
							<td style="text-align: left;">+3</td>
							<td style="text-align: right;">6</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>