<div class="col-6">
	<div class="card left">
		<div class="card-body">
			<center>
				Topscorer
				<table class="text-muted" style="width: 100%; table-layout: fixed;">
					<tbody>
                        {% for scorer in topscorer %}
						<tr>
							<td class="cut-off" style="width: 70%;">{{ scorer.vorname }} {{ scorer.nachname }}</td>
							<td>{{ scorer.tore }}</td>
							<td>{{ scorer.assists }}</td>
							<td>{{ scorer.punkte }}</td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>
