<div class="col-6">
	<div class="card left">
		<div class="card-body">
			<center>
				Topscorer
				<table class="text-muted" style="width: 100%; table-layout: fixed;">
					<tbody>
						<tr>
							<td class="cut-off" style="width: 70%;">Severin Schindler</td>
							<td>4</td>
							<td>3</td>
							<td>7</td>
						</tr>
						<tr>
							<td class="cut-off">Joël Mesmergfhdfghfdhgdhdfghdfghdfg</td>
							<td>4</td>
							<td>2</td>
							<td>6</td>
						</tr>
						<tr>
							<td class="cut-off">Andreas Christen</td>
							<td>3</td>
							<td>3</td>
							<td>6</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
	</div>
</div>