<style>
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		font-size: 18px;
		background: #fff;
		padding-top: 10px;
	}
	.menu {
		min-width: 100px;
		width: 70%;
		max-width: 320px;
		background-color: #36414c;
		color: #fff;
	}
	.content {
		width: 100%;
		padding-left: 75px;
	}
	.menu-button {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 15px;
		cursor: pointer;
		-webkit-transition: .3s;
		transition: .3s;
		background-color: #36414c;
	}
	.container {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
</style>

{% set vars = {'anwesend': 0, 'abwesend': 0, 'verspaetet': 0, 'mein_status': 'Abwesend', 'bg_color': '#c82333'} %}
{% for teilnehmer in event.teilnehmer %}
	{% if teilnehmer.status == 'Anwesend' %}
		{% if vars.update({'anwesend': vars.anwesend + 1}) %}{% endif %}
		{% if teilnehmer.user == frappe.session.user %}
			{% if vars.update({'mein_status': 'Anwesend'}) %}{% endif %}
			{% if vars.update({'bg_color': '#218838'}) %}{% endif %}
		{% endif %}
	{% elif teilnehmer.status == 'Abwesend' %}
		{% if vars.update({'abwesend': vars.abwesend + 1}) %}{% endif %}
	{% else %}
		{% if vars.update({'verspaetet': vars.verspaetet + 1}) %}{% endif %}
		{% if teilnehmer.user == frappe.session.user %}
			{% if vars.update({'mein_status': 'Verspaetet'}) %}{% endif %}
			{% if vars.update({'bg_color': '#5a6268'}) %}{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}



<div class="row">
	<!-- Swiper -->
	<div class="swiper-container" style="height: 200px;">
		<div class="swiper-wrapper">
			<div class="swiper-slide menu">
				{% if vars.mein_status != 'Abwesend' %}
					{% if vars.mein_status == 'Anwesend' %}
						<div>
							<button type="button" class="btn btn-secondary" style="color: white; width: 100%; margin-top: 10px;" onclick="komme_zu_spaet('{{ event.name }}');">Komme zu spät</button>
						</div>
					{% else %}
						<div>
							<button type="button" class="btn btn-success" style="color: white; width: 100%; margin-top: 10px;" onclick="komme_puenktlich('{{ event.name }}');">Komme pünktlich</button>
						</div>
					{% endif %}
					<div>
						<button type="button" class="btn btn-danger" style="color: white; width: 100%; margin-top: 10px;" data-toggle="modal" data-target="#abmeldenmodal{{ event.name }}">Abmelden</button>
					</div>
				{% else %}
					<div>
						<button type="button" class="btn btn-success" style="color: white; width: 100%; margin-top: 10px;" onclick="anmelden('{{ event.name }}');">Anmelden</button>
					</div>
				{% endif %}
				<div>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal{{ event.name }}" style="color: white; width: 100%; margin-top: 10px;"><i class="fas fa-info-circle"></i></button>
				</div>
			</div>
			<div class="swiper-slide content">
				<div class="menu-button" style="{% if vars.mein_status != 'Abwesend' %}{% if vars.mein_status == 'Anwesend' %}background-color: #218838;{% else %}background-color: #5a6268;{% endif %}{% else %}background-color: #c82333;{% endif %}">
					<div><center><i class="fas fa-angle-double-right" style="color: white;"></i></center></div>
					<div style="min-height: 40px; margin-top: 5px;">
						<center>
							<div class="rounded-circle" style="background-color: #218838; width: 30px; height: 30px; color: white; border: 1px solid white; margin-bottom: 5px;">{{ vars.anwesend }}</div>
							<div class="rounded-circle" style="background-color: #5a6268; width: 30px; height: 30px; color: white; border: 1px solid white; margin-bottom: 5px;">{{ vars.verspaetet }}</div>
							<div class="rounded-circle" style="background-color: #c82333; width: 30px; height: 30px; color: white; border: 1px solid white; margin-bottom: 5px;">{{ vars.abwesend }}</div>
						</center>
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						<b>{{ frappe.utils.get_datetime(event.event_date).strftime('%d %b') }}</b><br>
						{{ event.typ }}<br>
						<p>
							<i class="fas fa-map-marked-alt"></i> {{ event.event_destination }}<br>
							<i class="fas fa-hourglass-start"></i> {{ frappe.utils.get_time(event.event_from).strftime('%H:%M') }}<br>
							<i class="fas fa-hourglass-end"></i> {{ frappe.utils.get_time(event.event_to).strftime('%H:%M') }}
						</p>
					</div>
					<div class="col-7">
						{{ event.event_description or 'Es sind keine Informationen hinterlegt.' }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- abmelden modal -->
<div class="modal fade" id="abmeldenmodal{{ event.name }}">
	<div class="modal-dialog  modal-xl" style="margin: 0;">
		<div class="modal-content">
		
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><b>{{ _("Abmelden für") }} {{ frappe.utils.get_datetime(event.event_date).strftime('%d. %b. %Y') }}</b></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<div class="form-group">
					<label for="begruendung{{ event.name }}">Begründung:</label>
					<input type="text" class="form-control" id="begruendung{{ event.name }}">
				</div>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger hidden" style="color: white; width: 100%;" data-dismiss="modal" id="dismissbtn{{ event.name }}">xxx</button>
				<button type="button" class="btn btn-danger" style="color: white; width: 100%;" onclick="abmelden('{{ event.name }}');">Abmelden</button>
			</div>
			
		</div>
	</div>
</div>

<!-- event modal -->
<div class="modal fade" id="modal{{ event.name }}">
	<div class="modal-dialog  modal-xl" style="margin: 0;">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><b>{{ frappe.utils.get_datetime(event.event_date).strftime('%d. %b. %Y') }}</b></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-12" style="margin-bottom: 5px;">
						<center><b>Informationen</b><br></center>
						{{ event.event_description or 'Es sind keine Informationen hinterlegt.' }}
					</div>
					<div class="col-12" style="margin-bottom: 5px;">
						<div id="googleMap-{{ event.name }}-modal" style="width: 100%; height: 30vh;"></div>
						<p>
							<i class="fas fa-map-marked-alt"></i> {{ event.event_destination }}<br>
							<i class="fas fa-hourglass-start"></i> {{ frappe.utils.get_time(event.event_from).strftime('%H:%M') }} / <i class="fas fa-hourglass-end"></i> {{ frappe.utils.get_time(event.event_to).strftime('%H:%M') }}
						</p>
					</div>
				</div>
				<hr>
				{% if vars.anwesend > 0 or vars.verspaetet > 0 %}
				<div class="row">
					<div class="col-12">
						<center><b>Teilnehmer</b><br></center>
					</div>
					{% for teilnehmer in event.teilnehmer %}
						{% if teilnehmer.status != 'Abwesend' %}
							<div class="col-3" style="margin-top: 5px;">
								{% if teilnehmer.status == 'Anwesend' %}
									<img src="{{teilnehmer.bild }}" width="100%" class="rounded-circle" style="border: 3px solid #218838;">
								{% elif teilnehmer.status == 'Verspätet' %}
									<img src="{{teilnehmer.bild }}" width="100%" class="rounded-circle" style="border: 3px solid #5a6268;">
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<hr>
				{% endif %}
				{% if vars.abwesend > 0 %}
				<div class="row">
					<div class="col-12" style="margin-bottom: 5px;">
						<center><b>Abwesend</b><br></center>
					</div>
					{% for teilnehmer in event.teilnehmer %}
						{% if teilnehmer.status == 'Abwesend' %}
						<div class="col-12" style="margin-bottom: 5px;">
							<div class="media border" style="padding: 0.1rem !important; border-radius: 10px;">
								<img src="{{teilnehmer.bild }}" class="align-self-center mr-3 rounded-circle" style="width: 60px; border: 3px solid #c82333;">
								<div class="media-body">
									<p>{{ teilnehmer.vorname }} {{ teilnehmer.nachname }}<br>{{ teilnehmer.bemerkung }}</p>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				{% endif %}
				<div class="row">
					{% if vars.mein_status != 'Abwesend' %}
						{% if vars.mein_status == 'Anwesend' %}
							<div class="col-12" style="margin-bottom: 5px; margin-top: 5px;">
								<center>
									<button type="button" class="btn btn-secondary ml-auto" style="color: white; width: 100%; margin-bottom: 5px;" onclick="komme_zu_spaet('{{ event.name }}');" data-dismiss="modal">Komme zu spät</button>
									<button type="button" class="btn btn-danger" style="color: white; width: 100%;" data-dismiss="modal" data-toggle="modal" data-target="#abmeldenmodal{{ event.name }}">Abmelden</button>
								</center>
							</div>
						{% else %}
							<div class="col-12" style="margin-bottom: 5px; margin-top: 5px;">
								<center>
									<button type="button" class="btn btn-success ml-auto" style="color: white; width: 100%; margin-bottom: 5px;" onclick="komme_puenktlich('{{ event.name }}');" data-dismiss="modal">Komme pünktlich</button>
									<button type="button" class="btn btn-danger" style="color: white; width: 100%;" data-dismiss="modal" data-toggle="modal" data-target="#abmeldenmodal{{ event.name }}">Abmelden</button>
								</center>
							</div>
						{% endif %}
					{% else %}
						<div class="col-12" style="margin-bottom: 5px; margin-top: 5px;">
							<center>
								<button type="button" class="btn btn-success" onclick="anmelden('{{ event.name }}');" data-dismiss="modal">Anmelden</button>
							</center>
						</div>
					{% endif %}
					<div class="col-4">
						<center>
							<div class="rounded-circle" style="background-color: #218838; width: 30px; height: 30px; color: white;">{{ vars.anwesend }}</div>
						</center>
					</div>
					<div class="col-4">
						<center>
							<div class="rounded-circle" style="background-color: #5a6268; width: 30px; height: 30px; color: white;">{{ vars.verspaetet }}</div>
						</center>
					</div>
					<div class="col-4">
						<center>
							<div class="rounded-circle" style="background-color: #c82333; width: 30px; height: 30px; color: white;">{{ vars.abwesend }}</div>
						</center>
					</div>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Schliessen</button>
			</div>

		</div>
	</div>
</div>






<!-- Initialize Swiper -->
	<script>
		var menuButton = document.querySelector('.menu-button');
		var openMenu = function () {};
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 'auto',
			initialSlide: 1,
			resistanceRatio: 0,
			slideToClickedSlide: true,
			on: {
				slideChangeTransitionStart: function () {
					var slider = this;
					if (slider.activeIndex === 0) {
						menuButton.classList.add('cross');
						// required because of slideToClickedSlide
						menuButton.removeEventListener('click', openMenu, true);
					} else {
						menuButton.classList.remove('cross');
					}
				}
				, slideChangeTransitionEnd: function () {
					var slider = this;
					if (slider.activeIndex === 1) {
						menuButton.addEventListener('click', openMenu, true);
					}
				},
			}
		});
	</script>