<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
  <a id="nav-bottom-ereignisse" class="nav-link" style="padding: 0.5rem 1.5rem !important;" href="/ereignisse"><i class="fa fa-calendar"></i></a>
  <a id="nav-bottom-swissunihockey" class="nav-link" style="padding: 0.5rem 1.5rem !important;" href="/swissunihockey"><i class="fa fa-trophy"></i></a>
  <a id="nav-bottom-dashboard" class="nav-link" style="padding: 0.5rem 1.5rem !important;" href="/dashboard"><i class="fa fa-bars"></i></a>
  <a id="nav-bottom-statistiken" class="nav-link" style="padding: 0.5rem 1.5rem !important;" href="statistiken"><i class="far fa-chart-bar"></i></a>
  <a id="nav-bottom-team" class="nav-link" style="padding: 0.5rem 1.5rem !important;" href="team"><i class="fa fa-users"></i></a>
</nav>