<nav id="navbartop" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a id="nav-top-mein-profil" class="nav-link" href="/meinprofil" onclick="show_waiting_screen();"><i class="fa fa-user-circle"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav" style="max-width: 50%; max-height: 50px;">
    <li>
      <center><a class="nav-link" href="/dashboard" onclick="show_waiting_screen();">{% include "templates/wordmark.html" %}</a></center>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a id="nav-top-einstellungen" class="nav-link" href="einstellungen" onclick="show_waiting_screen();"><i class="fa fa-cog"></i></a>
    </li>
  </ul>
</nav>