{% extends "templates/web.html" %}

{% block style %}
    <style>
        {% include "templates/includes/msmroverlay/msmroverlay.css" %}
    </style>
{% endblock %}
{% block page_content %}
<div class="card left" style="height: 80vh;">
    <div class="card-body">
    <div class="row">
        <div class="col-12">
            <div class="card left" style="height: 10vh; margin-bottom: 1vh;">
                <div class="card-body">
                    <center>
                        <h1><span style="float: left; margin-top: -2vh;"><a href="/spielstatistik" onclick="show_waiting_screen();"><i class="fa fa-angle-left"></i></a></span><span class="pull-right" style="margin-top: -2vh;">Gegentor erf.</span></h1>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card left" style="height: 8vh; margin-bottom: 1vh;">
                <div class="card-body">
                    <center>
                        <label for="zeitpunkt_tor">Zeitpunkt</label>
                        <input type="time" id="zeitpunkt_tor" name="zeitpunkt_tor" value="12:00">
                    </center>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card left" id="tor" style="height: 8vh; margin-bottom: 1vh; background-color: lightgreen;">
                <div class="card-body"><a href="/spielstatistik" onclick="show_waiting_screen();">
                    <center>
                        <h2>Erfassen</h2>
                    </center>
                </a></div>
            </div>
        </div>
    </div>
    </div>
</div>
{% include "templates/includes/msmroverlay/msmroverlay.html" %}
{% endblock %}

{% block script %}
    <script>
        {% include "templates/includes/msmroverlay/msmroverlay.js" %}
    </script>
{% endblock %}
