{% extends "templates/web.html" %}

{% block style %}
	<style>
		{% include "templates/includes/dashboard_highlights/dashboard_highlights.css" %}
		{% include "templates/includes/msmroverlay/msmroverlay.css" %}
	</style>
{% endblock %}
{% block page_content %}
	{% include "templates/navbar_top.html" %}
	<div class="container" style="height: 15px;"></div>
	<div class="row">
		{% include "templates/includes/dashboard_highlights/next_event.html" %}
		{% include "templates/includes/dashboard_highlights/next_game.html" %}
		{% include "templates/includes/dashboard_highlights/tabelle.html" %}
		{% include "templates/includes/dashboard_highlights/liveticker.html" %}
		{% include "templates/includes/dashboard_highlights/topscorer.html" %}
		{% include "templates/includes/dashboard_highlights/praesenz.html" %}
	</div>
	{% include "templates/includes/msmroverlay/msmroverlay.html" %}
	{% include "templates/navbar_bottom.html" %}
{% endblock %}

{% block script %}
	<script>
		{% include "templates/includes/msmroverlay/msmroverlay.js" %}
	</script>
{% endblock %}