{% extends "templates/web.html" %}

{% block style %}
    <style>
        #nav-top-einstellungen {
            color: #FFD700 !important;
        }
        {% include "templates/includes/msmroverlay/msmroverlay.css" %}
        
         /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        } 
    </style>
{% endblock %}
{% block page_content %}
    {% include "templates/navbar_top.html" %}
    <div class="container" style="height: 30px; margin-top: 60px;"></div>
    <center><h1>Notification Center</h1></center>
    <div class="row">
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="new_event">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Neuer Event</div>
        
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="changed_event">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Änderung Event</div>
        
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="new_aufgebot">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Neues Aufgebot</div>
        
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="teilnehmer_mutation">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Teilnehmer Mutation</div>
        
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="event_preview">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Event Preview</div>
        
        <div class="col-xs-2">
            <label class="switch">
                <input type="checkbox" id="goali_alarm">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-10">Goali Alarm</div>
    </div>
    {% include "templates/includes/msmroverlay/msmroverlay.html" %}
    {% include "templates/navbar_bottom.html" %}
{% endblock %}

{% block script %}
    <script>
        {% include "templates/includes/msmroverlay/msmroverlay.js" %}
        
        {% if user_stamm.new_event %}
            $("#new_event")[0].checked = true;
        {% else %}
            $("#new_event")[0].checked = false;
        {% endif %}
        $("#new_event").change(function(){
          change_noti('new_event');
        });
        
        {% if user_stamm.changed_event %}
            $("#changed_event")[0].checked = true;
        {% else %}
            $("#changed_event")[0].checked = false;
        {% endif %}
        $("#changed_event").change(function(){
          change_noti('changed_event');
        });
        
        {% if user_stamm.new_aufgebot %}
            $("#new_aufgebot")[0].checked = true;
        {% else %}
            $("#new_aufgebot")[0].checked = false;
        {% endif %}
        $("#new_aufgebot").change(function(){
          change_noti('new_aufgebot');
        });
        
        {% if user_stamm.teilnehmer_mutation %}
            $("#teilnehmer_mutation")[0].checked = true;
        {% else %}
            $("#teilnehmer_mutation")[0].checked = false;
        {% endif %}
        $("#teilnehmer_mutation").change(function(){
          change_noti('teilnehmer_mutation');
        });
        
        {% if user_stamm.event_preview %}
            $("#event_preview")[0].checked = true;
        {% else %}
            $("#event_preview")[0].checked = false;
        {% endif %}
        $("#event_preview").change(function(){
          change_noti('event_preview');
        });
        
        {% if user_stamm.goali_alarm %}
            $("#goali_alarm")[0].checked = true;
        {% else %}
            $("#goali_alarm")[0].checked = false;
        {% endif %}
        $("#goali_alarm").change(function(){
          change_noti('goali_alarm');
        });
        
        function change_noti(noti) {
            show_waiting_screen();
            frappe.call({
                'method': 'teamplaner.www.einstellungen.change_noti',
                'args': {
                    'noti': noti
                },
                'callback': function(r) {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}
