{% extends "templates/web.html" %}

{% block style %}
	<style>
		#nav-top-mein-profil {
			color: #FFD700 !important;
		}
		{% include "templates/includes/msmroverlay/msmroverlay.css" %}
	</style>
{% endblock %}

{% block page_content %}
	{% include "templates/navbar_top.html" %}
	<div class="container" style="margin-bottom: 15px;"></div>
	<center><h4>Meine Daten</h4></center>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-user-circle"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="First Name" disabled value="{{ user_stamm.vorname }}">
		<input type="text" class="form-control" placeholder="Last Name" disabled value="{{ user_stamm.nachname }}">
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Birthday" disabled value="{{ user_stamm.geburtsdatum }}">
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Mobile" disabled value="{{ user_stamm.mobile }}">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="far fa-address-card"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Address" disabled value="{{ user_stamm.adresse }}">
	</div>
	<center>
		<h4>Ich & Mein Team</h4>
		<img src="{{ user_stamm.bild }}" width="100">
	</center>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-users"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Team" disabled value="{{ user_stamm.team }}">
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-tshirt"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Number" disabled value="{{ user_stamm.nummer }}">
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-crosshairs"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Position" disabled value="{{ user_stamm.position }}">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="far fa-id-badge"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Lizenz" disabled value="{{ user_stamm.lizenz }}">
	</div>
	<center><h4>Meine Bussen</h4></center>
	<center><a href="/?cmd=web_logout"><button type="button" class="btn btn-danger">Logout</button></a></center><div style="min-height: 50px;"></div>
	{% include "templates/includes/msmroverlay/msmroverlay.html" %}
	{% include "templates/navbar_bottom.html" %}
{% endblock %}

{% block script %}
	<script>
		{% include "templates/includes/msmroverlay/msmroverlay.js" %}
	</script>
{% endblock %}