{% extends "templates/web.html" %}

{% block style %}
    <style>
        #nav-bottom-swissunihockey {
            color: #FFD700 !important;
        }
        {% include "templates/includes/msmroverlay/msmroverlay.css" %}
    </style>
{% endblock %}
{% block page_content %}
    {% include "templates/navbar_top.html" %}
    <div class="container" style="height: 30px; margin-top: 60px;"></div>
    <center><h1>Swissunihockey API</h1></center>
    <hr>
    <center><a href="https://api-v2.swissunihockey.ch/api/calendars?team_id=428691">Downlad Spielplan <i class="fas fa-cloud-download-alt"></i></a></center>
    <hr>
    {% include "templates/includes/swissunihockey/tabelle_full.html" %}
    <hr>
    {% include "templates/includes/swissunihockey/spielplan.html" %}
    <hr>
    <div class="container" style="height: 30px; margin-top: 60px;"></div>
    {% include "templates/includes/msmroverlay/msmroverlay.html" %}
    {% include "templates/navbar_bottom.html" %}
{% endblock %}

{% block script %}
    <script>
        {% include "templates/includes/msmroverlay/msmroverlay.js" %}
    </script>
{% endblock %}
